*{box-sizing:border-box;}
		body{
			font-family:Arial;
			margin:0px;
			padding:0px;
		}
		.fluid{
			width:90%;
			margin:auto;
		}
		.logo,.navigation,.item,.box,.footer{
			background-color:#cf6a87;
			font-size:30px;
			text-align:center;
		}
		.container{
			display:flex;
			flex-wrap:wrap;
		}
		.logo{
			flex:25%;
			padding:50px;
			color:black;
			margin-right:10px;
		}
		.navigation{
			flex:70%;
			color:black;
			padding:50px;
		}
		.service{
			display:flex;
			flex-wrap:wrap;
			justify-content:space-between;
		}
		.item{
			margin-top:10px;
			height:200px;
			width:280px;
		}
		.new{
			display:flex;
			flex-wrap:wrap;
			justify-content:space-between;
		}
		.box{
			padding:150px;
			width:33%;
			color:black;
			margin-top:10px;
		}
		.footer{
			padding:30px;
			color:black;
			margin-top:10px;
		}